<div class="convertation-container">
    <h1 class="main-convertation-header">Сonvert your currency at the real exchange rate</h1>
    <div class="convertation-block">
       <div class="input-select-group-wrapper">
            <div class="input-select-group">
                <form class="input-currency">
                    <input (paste)="(false)" type="number" name="Summary" id="Summary" autocomplete="off" [(ngModel)]="selectedCurrentCurrency" (ngModelChange)="convertMoney('fromTo')">
                    <label for="Summary">Summary</label>
                </form>
                <div class="selectSummary">
                    <select [(ngModel)]="selectedOption" (change)="getCurrency(selectedOption, selectedOptionConvert);convertMoney('fromTo')">
                        <option *ngFor="let o of options;let i=index">{{o.name}}</option>
                    </select>
                </div>
            </div>
            <button class="switchCurrencyButton" (click)="changeCurrencies()"></button>
            <div class="input-select-group">
                <form class="input-currency">
                    <input (paste)="(false)" type="number" name="Converted" id="Converted" autocomplete="off" [(ngModel)]="selectedConvertedCurrency" (ngModelChange)="convertMoney('toFrom')">
                    <label for="Converted">Converted to</label>
                </form>
                <div class="selectConverted">
                    <select [(ngModel)]="selectedOptionConvert" (change)="getCurrency(selectedOption, selectedOptionConvert) ">
                        <option *ngFor="let o of options" [selected]="o.name=='EUR'">{{o.name}}</option>
                    </select>
                </div>
            </div>
       </div>
       <div class="converted-currency">
        1 {{selectedOption}} = <span class="green-text">{{convertedCurrency}}</span> {{selectedOptionConvert}}
       </div>
    </div>
</div>
